/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 0;
    background-color: rgb(234, 176, 176);
    color: #333;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: 1200px;
    margin: 0 auto;
    padding: 0 21px;
  }
  
  nav .logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;;
  }
  
  nav ul li a {
    color: rgb(187, 136, 211);
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .section {
    padding: 80px 20px;
  }
  
  .bg-light {
    background-color: rgb(234, 176, 176);
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  #about .intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profile-img {
    border-radius:50%;
    width: 150px;
    height: 150px;
    margin-right: 30px;
  }
  .intro-text h2 {
    font-size: 34px;
    margin-bottom: 23px;
  }
  .intro-text p {
    font-size: 32px;
    color: #555;
  }
  #skills h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .skill {
    width: 22%;
    margin-bottom: 20px;
  }
  .skill h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .skill-bar {
    height: 10px;
    background-color: #e7921c;
    border-radius: 6px;
  }
  .html {
    width: 90%;
    background-color: #c127e4;
  }
  .css {
    width: 80%;
    background-color: #87e423;
  }
  .js {
    width: 70%;
    background-color: #d81b1b;
  }
  .react {
    width: 60%;
    background-color: #0b5ad9
  }
  #resume h2 {
    font-size: 35px;
    margin-bottom: 21px;
  }
  .resume-item h3 {
    font-size: 25px;
    margin-bottom: 12px;
  }
  .resume-item ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  .resume-item ul li {
    font-size: 18px;
  }
  #contact h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  #contact ul {
    list-style-type: none;
  }
  #contact ul li {
    font-size: 18px;
    margin: 10px 0;
  }
  #contact a {
    color:#8614dd;
    text-decoration: none;
  }
  #contact a:hover {
    text-decoration: underline;
  }
  footer {
    background-color: #f4f4f4;
    color: #d26e6e;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
  }
  footer p {
    font-size: 16px;
  }
  @media (max-width: 768px) {
    nav.container {
        flex-direction: column;
        align-items: flex-start;
    }
  }
  